<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<p th:each="user : ${users}">
    <a th:href="@{/show?id={id}(id=${user.id})}"
       th:text="${user.name + ' ' + user.lastname}">user</a>
</p>
<!--        <td th:text="${user.id}"></td>-->
<!--        <td th:text="${user.name}"></td>-->
<!--        <td th:text="${user.lastname}"></td>-->
<!--        <td th:text="${user.age}"></td>-->
<!--        <td th:text="${user.email}"></td>-->

<hr/>

<a href="/new">Create new user</a>

</body>
</html>