<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show user</title>
</head>
<body>
<div>
    <p th:text="'ID: ' + ${user.id}"></p>
    <p th:text="'Name: ' + ${user.name} + ' ' + ${user.lastname}"></p>
    <p th:text="'Age: ' + ${user.age}"></p>
    <p th:text="'Email: ' + ${user.email}"></p>
</div>
<hr/>
<a th:href="@{/edit?id={id}(id=${user.id})}">Edit</a>

<form method="GET" action="/delete">
    <input type="hidden" name="id" th:value="${user.id}">
    <button type="submit">Delete</button>
</form>
<hr/>
<a href="/">Go back to the main page</a>
</body>
</html>